.currentWeatherContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}


.currentWeather{
  width: 300px;
  height: 300px;

  div {
    display: flex;
    flex-direction: column;
    background-color: #3d3d3d;
    border-radius: 8px;
  }
}