

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #333;
  color: #fff;
}

.leaflet-container {
  height: 400px;
  width: 400px;
}
#leaflet {
  display: flex;
  width: 400px;
  height: 400px;
}
