nav {

  display: flex;
  width: 100%;
  background-color: black;
  

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
    
      
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
    

}


@media (min-width: 900px) {
  nav {
    ul {
      flex-direction: row;
      
    }
  }
}